.create--wrapper {
  margin-top: 12vh;
}

.create--title {
  font-family: TB;
  font-size: 3rem;
  lost-align: center;
  padding-bottom: 4rem;
}

.title--editor-wrapper {
  display: flex;
  justify-content: center;
}

.edit--title {
  font-family: TB;
  font-size: 3rem;
  lost-align: center;
}

.edit--input {
  border: 0;
  border-bottom: 4px dotted #635EFF;
  margin-left: .25em;
  font-family: TB;
  width: 20vw;
  outline: 0;
  font-size: 3rem;
  margin-top: 4px;
}

.create--input {
  border: none;
  outline: 0;
  font-size: 1.1rem;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
  width: 35%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: .5rem;
  border-radius: 5px;
  lost-center: flex;
  transition: all .25s ease-in-out;
  &.option {
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
    &.opt-is-invalid {
      box-shadow: 0px 10px 20px 0px rgba(255, 0, 0, 0.2);
    }
  }
  &:focus {
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.2) !important;
  }
  &:hover {
    box-shadow: 0px 12px 22px 0px rgba(0, 0, 0, 0.1);
  }
}

.option--wrapper {
}

.option--delete {
  background: 0;
  border: 0;
  font-family: TB;
  padding-left: 1em;
  outline: 0;
  cursor: pointer;
}

.option--self {
  flex-flow: unset !important;
  width: 35%;
  lost-align: center;
  lost-center: flex;
}

.create--button {
  border: none;
  outline: 0;
  font-size: .9rem;
  padding: 1rem;
  margin-top: 4rem;
  color: var(--white);
  background: $red;
  lost-center: flex;
  border-radius: 25px;
  transition: all .2s ease-out;
  cursor: pointer;
  &:hover {
    background: darken($red, 10%) !important;
    transform: translateY(2px);
  }
  &._submit {
    width: 30%;
    lost-align: center;
  }
}

.option--button {
  border: none;
  outline: 0;
  font-size: .9rem;
  padding: .7rem;
  margin-top: 2rem;
  color: var(--white);
  background: lighten($purple, 10%);
  lost-center: flex;
  border-radius: 25px;
  cursor: pointer;
  transition: all .2s ease-out;
  &:hover {
    transform: translateY(2px);
    background: $purple !important;
  }
}

.error--alert{
  lost-center: flex;
  margin-top: 5em;
  span {
    color: $red;
    lost-align: center;
    font-size: 1.3rem;
  }
}