.results--wrapper {
	margin-top: 12vh;
}

.result--title {
	lost-align: center;
  font-size: 2.5rem;
  font-family: TB;
  padding-bottom: 1.5em;
  width: 50%;
  margin: 0 auto;
}

.result--wrapper {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
  width: 50%;
  min-height: 5em;
  margin-bottom: 1.5em;
  border-radius: 5px;
  lost-align: vertical;
  lost-center: flex;
  padding-left: 4em;
  padding-right: 4em;
  position: relative;
  transition: all .25s ease-in-out;
  &:hover {
    box-shadow: 0px 12px 22px 0px rgba(0, 0, 0, 0.1);
  }
}

.option--vote {
  border: none;
  outline: 0;
  font-size: 1rem;
  font-family: TB;
  padding: .8rem;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 25px;
  color: var(--white);
  background: $green;
  position: absolute;
  right: 4em;
  cursor: pointer;
  transition: all .2s ease-out;
  &:hover {
    transform: translateY(2px);
    background: darken($green, 10%);
  }
  &.has-voted {
    background: $grey !important;
    cursor: not-allowed;
  }
}

.option--count {
  font-size: 1.5rem;
}

.option--name {
  font-weight: initial;
  margin-right: 2em;
  width: 50%;
  word-wrap: break-word;
}

.error--wrapper {
  margin-top: 20vh;
}

.error--msg, .error--tip {
  lost-align: center;
}

.error--msg {
  font-family: TB;
  margin-bottom: 3em;
  color: var(--purple);
}

.error--tip {
  font-family: T;
  font-weight: initial;
}

@media (--mobile) {
  .result--wrapper {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }
  .option--vote {
    right: 1em;
  }
  .option--name {
    margin-right: 0;
  }
}

@media (--mid) {
  .result--wrapper {
    width: 60%;
    padding-left: 1em;
    padding-right: 1em;
  }
}