@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeInUp {
  animation-duration: 500ms;
  animation-name: fadeInUp;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeOutDown {
  animation-duration: 500ms;
  animation-name: fadeOutDown;
  animation-fill-mode: forwards;
  opacity: 1;
}

.fadeIn {
  animation-duration: 500ms;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeOut {
  animation-duration: 500ms;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  opacity: 1;
}

.dur-3 {
  animation-duration: 300ms !important;
}

.delay-1 {
  animation-delay: 100ms;
}

.delay-2 {
  animation-delay: 400ms;
}

.delay-8 {
  animation-delay: 800ms;
}